<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Appointment page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 style="font-size:40px ">Appointment</h1>

            <form th:action="@{/appointment}" method="post" th:object="${appointment}">
                <div class="form-group">
                    <!--Email field-->
                    <label class="control-label" for="email">
                        Email
                    </label>
                    <input id="email" class="form-control" th:field="*{email}" required autofocus="autofocus">
                </div>
                <!--Name field-->
                <div class="form-group">
                    <label class="control-label" for="name">
                        Name
                    </label>
                    <input id="name" class="form-control" th:field="*{name}" required autofocus="autofocus">
                </div>
                <!--Age field-->
                <div class="form-group">
                    <label class="control-label" for="age">
                        Age
                    </label>
                    <input id="age" class="form-control" th:field="*{age}" required autofocus="autofocus">
                </div>

                <!--Sex field-->
                <div class="form-group">
                    <label class="control-label" for="sex">
                        Sex
                    </label>
                    <input id="sex" class="form-control" th:field="*{sex}" required autofocus="autofocus">
                </div>

                <!--Password field-->
                <div class="form-group">
                    <label class="control-label" for="password">
                        Password
                    </label>
                    <input id="password" class="form-control" type="password" th:field="*{password}" required
                           autofocus="autofocus"/>
                </div>

                <!--Password re-type field(Functionality, to be implemented..)-->

                <!--Register button-->
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>